body {
  background-color:#7ABA78;
  font-family:'Courier New', Courier, monospace;
  /*font-family: Genova, sans-serif;*/
  color:#0A6847;
  font-size:16px;
  line-height:1em;
}

.img-circle {
  border-radius: 50%;
}

h1 {

  font-size:24px;
  line-height:1em;
}

h2, h3 {
  color:#FF5BAE;
  font-family:'Courier New', Courier, monospace;
  font-size:18px;
  line-height:1em;
}

.green {
  color:#0A6847;
}


a {
  text-decoration: none;
  /*color:#FF5BAE*/;
  color:#0A6847;
  font-weight: bold ;
  font-size:16px;
}

.small {
  font-size:12px;
}

a:hover {
  color:#7ABA78;
}

.btn-pink {
  background-color:#FF5BAE;
  color: white;
}

.btn-pink:hover {
  background-color:#7ABA78;
  color: white;
}

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 992px) {
  .container {
    width: 700px;
    margin: 40px auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 400px;
    margin: 20px auto;
  }
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
}

.cards {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:16px;
}

.card-pitch {
  border-radius:2px;
  border: 2px solid rgba(0, 0, 0, 0.66);
  background-color: white;
  min-height: 300px;
  margin: 20px;
  padding:16px 16px;
  align-content: center;
  color:#0A6847;
  font-size:12px;
  font-weight:medium;
}

.card-pitch img {
  width: 100%;
  height: 320px;
  object-fit: fit;
}

.card-pitch-content {
  display: flex;
}

.card-pitch-content img {
  width:200px;
  height:250px;
  object-fit: cover;
  object-position:center;
  padding: 0px;
}

.card-pitch-content p {
  padding: 0px 16px;
}

.text-center {
  text-align: center;
}

list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
